.formContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    position: fixed;
    z-index: 20;

    width: 100%;
    height: 100%;

    padding-top: 200px;
}
