.authContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.errorMessage {
    color: var(--reject);
    font-family: var(--Inter-SB);
}

.form {
    position: relative;

    height: auto;
    width: 40rem;
    padding: 2rem;

    border: 0.1rem solid var(--border-color);
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.form h1 {
    margin-bottom: 3.5rem;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
    gap: 2rem;
    margin-bottom: 3.5rem;
}

.input-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.input-wrapper label {
    background: linear-gradient(
        180deg,
        var(--white 70%),
        var(--white 10%),
        var(--createNoteInputLabelGradien)
    );

    position: absolute;
    top: -1rem;
    left: 1rem;

    font-size: 1.4rem;

    user-select: none;
    pointer-events: none;
}

.input-wrapper input {
    width: 100%;
}

.controllers {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.controllers button[type="submit"] {
    background: var(--base-text-color);
    outline: none;
    cursor: pointer;
    padding: 0.5rem 2rem;

    transition:
        color 0.1s ease-in,
        background-color 0.1s ease-in;
    font-size: 1.6rem;
    color: var(--white);
}

.controllers button[type="submit"]:hover {
    background-color: var(--baseTextColorHover);
}

.controllers a {
    text-decoration: none;
    font-family: var(--Inter-SB);
    color: var(--base-text-color);
}

.controllers a:hover {
    color: var(--baseTextColorHover);
}

.error-input {
    border: 0.1rem solid var(--reject);
}
