.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    position: fixed;
    z-index: 20;

    width: 100%;
    height: 100%;

    margin-top: -10rem;
}
