.controls {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    background-color: var(--white);
    box-shadow: 0 0.2rem 0.2rem 0 var(--boardControls);

    position: relative;
    top: 0;
    width: 100%;

    padding: 0 2rem 2rem 2rem;
}

.link {
    text-decoration: none;
}

.createNoteButton {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 6rem;
    width: 26rem;
    padding: 1.5rem;

    border-radius: 0.5rem;
    border: 0.1rem solid var(--base-text-color);
    outline: none;
    background-color: var(--white);

    cursor: pointer;
}

.createNoteButton p {
    font-size: 1.3em;
}

.createNoteButton:hover {
    background-color: var(--newNoteButton);
}
