.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 12px 15px;

    box-shadow: 0 1px 3px 0 var(--headerBoxShadow);
    background-color: var(--white);

    display: grid;
    grid-template-columns: 1fr 140px 1fr 80px;
    grid-template-rows: 1fr;

    position: relative;
    z-index: 33;

    top: 0;
    width: 100%;
}

.appName {
    height: 100%;
    width: auto;
    gap: 20px;

    grid-column: 2 / 3;
    grid-row: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    text-decoration: none;
}

.appName p {
    font-size: 28px;
}
