// Color variables
$base-text-color: #2E0700;
$placeholder-color: #C2C2C2;
$category-color: #5C5C5C;
$border-color: #e0e0e0;
$white: #fff;
$accept: #25cc0c;
$reject: red;
$headerBoxShadow: rgb(218, 218, 218);
$createNoteInputLabelGradient: rgba(255, 255, 255, 0);
$boardControls: rgb(234, 234, 234);
$newNoteButton: #f1f1f1;
$loginBoxShadow: rgba(218, 218, 218, 0.47);
$baseTextColorHover: #5d3e38;
