@import "colors";

.context {
  &-div {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 200;
    transform: translate(0, 100%);

    width: auto;
    height: auto;

    background: $white;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 1px;
  }

  &-button {
    width: 100%;
    padding: 4px 7px;

    border: none;
    border-radius: 1px;
    background: none;
    outline: none;

    font-size: 14px;
    font-family: Inter-R, sans-serif;

    cursor: pointer;
    transition: background-color .1s ease-out;
    text-align: left;

    &:hover {
      background-color: $border-color;
    }

    &-remove {
      color: red;
      transition: background-color .1s ease-out;

      &:hover {
        background-color: $reject;
        color: $white;
      }
    }
  }
}

