@import "colors";

//board
.board {
  position: relative;
  z-index: 1;

  max-height: 100%;

  &__controls {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    background-color: $white;
    box-shadow: 0 2px 2px 0 $boardControls;

    position: relative;
    top: 0;
    width: 100%;

    padding: 0 20px 20px 20px;

    .newNote {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 60px;
      width: 260px;
      padding: 15px;

      border-radius: 5px;
      border: 1px solid $base-text-color;
      outline: none;
      background-color: $white;

      cursor: pointer;
      transition: all .1s ease-in;

      p {
        font-size: 1.3em;
      }

      &:hover {
        background-color: $newNoteButton;
      }
    }
  }

  .content__wrapper {
    height: 100%;
    padding: 20px;

    position: relative;
    overflow: scroll;

    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 240px);
    grid-auto-rows: 240px;
    justify-content: center;
    gap: 20px;

    .card {
      width: 100%;
      height: 100%;

      border-radius: 5px;
      border: 1px solid $border-color;

      padding: 15px;
      position: relative;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 24px 140px 1fr;
      row-gap: 7px;

      h3 {
        font-size: 18px;
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        width: auto;
        height: auto;

        grid-column: 1 / -1;
        grid-row: 2 / 3;

        font-size: 16px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        hyphens: auto;
        word-wrap: anywhere;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
      }

      .manual-items {
        grid-column: 1 / -1;
        grid-row: 3 / -1;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding-top: 5px;
        margin-top: 5px;

        border-top: 1px solid $placeholder-color;

        width: 100%;

        .card-button {
          background: none;
          border: none;
          outline: none;

          cursor: pointer;

          svg {
            user-select: none;
            pointer-events: none;
          }
        }
      }

    }
  }
}
