// fonts
@font-face {
  font-family: 'Inter-R';
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff2');
}

@font-face {
  font-family: 'Inter-SB';
  font-weight: 600;
  src: url('../fonts/Inter-SemiBold.woff2');
}

@font-face {
  font-family: 'Inter-B';
  font-weight: 700;
  src: url('../fonts/Inter-Bold.woff2');
}

// import colors
@import "colors";

// global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100%;
}

p, h1, h2, h3, h4, a, textarea, input, label, button {
  color: $base-text-color;
}

p, label, input, textarea {
  font-family: 'Inter-R', sans-serif;
}

h1 {
  font-family: 'Inter-B', sans-serif;
}

h2, h3, h4, h5, button {
  font-family: 'Inter-SB', sans-serif;
}

textarea{
  resize: none;
}

input::placeholder, textarea::placeholder {
  font-family: "Inter-R", sans-serif;
}


input, button, textarea {
  border-radius: 5px;
  border: 1px solid #2E0700;

  outline: none;
}

input, textarea {
  padding: 5px 10px;
  font-size: 16px;
}

.block__wrapper {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;

  padding-bottom: 20px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px minmax(auto, calc(100% - 110px));
  row-gap: 20px;
}

main {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding-bottom: 20px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: min(100% - 1em, 1400px);
  margin-inline: auto;
}

//import
@import "header";
@import "board";
@import "create";
@import "context";