/*

Legend:
1. fonts
2. Color variables
3. global

Components:
4. header
5. aside

*/


// fonts
@font-face {
  font-family: 'Inter-R';
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff2');
}

@font-face {
  font-family: 'Inter-M';
  font-weight: 500;
  src: url('../fonts/Inter-Medium.woff2');
}

@font-face {
  font-family: 'Inter-SB';
  font-weight: 600;
  src: url('../fonts/Inter-SemiBold.woff2');
}

@font-face {
  font-family: 'Inter-B';
  font-weight: 700;
  src: url('../fonts/Inter-Bold.woff2');
}


// Color variables
$base-text-color: #2E0700;
$placeholder-color: #C2C2C2;
$category-color: #5C5C5C;


// global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

#root {
  height: 100vh;
  width: 100%;
}

p, h1, h2, h3, h4, a, textarea, input {
  color: $base-text-color;
}

p {
  font-family: 'Inter-R', sans-serif;
}


// components
// header
.mainHeader {
  height: 3.75em;
  padding: .75em .94em;
  box-shadow: 0 1px 3px 0 rgb(218, 218, 218);

  display: flex;
  align-items: center;
  z-index: 99;

  &__asideHamburger {
    width: 180px;
    height: 100%;

    button {
      outline: none;
      background: none;
      border: none;

      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 0 20px;

    label {
      position: relative;

      height: 100%;

      img {
        position: absolute;
        top: 5px;
        margin: 0 5px;

        pointer-events: none;
      }

      input {
        font-size: 1em;
        color: $base-text-color;

        width: 300px;
        height: 100%;
        padding-left: 44px;

        border: 1px solid $base-text-color;
        border-radius: 5px;

        &::placeholder {
          color: $placeholder-color;
        }
      }
    }
  }

  &__appName {
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    svg {
      margin-left: -250px;
    }

    p {
      font-size: 28px;
      pointer-events: none;
      user-select: none;
    }
  }

  &__avatar {
    height: 100%;

    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    .avatar {
      height: 36px;
      width: 36px;

      border-radius: 50px;

      background: $placeholder-color;
    }
  }
}

// aside
aside {
  height: 100%;
  width: 180px;
  padding: 15px;

  display: block;
  float: left;
  position: relative;

  box-shadow: 1px 2px 3px 0 rgb(218, 218, 218);


  .mainCategories {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: auto;

    hr {
      width: 100%;
      height: 1px;
      background-color: $placeholder-color;
      margin: 10px 0;
    }

    .btn__active {
      background-color: rgba(237, 154, 0, 0.28);
    }

    &__wrapper {
      width: 100%;

      .btn__favourite svg {
        margin-left: -2px;
        overflow: visible;
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 7px;

      outline: none;
      background: none;
      border: none;

      margin-bottom: 5px;
      padding: 5px 10px;

      width: 100%;
      border-radius: 150px;

      cursor: pointer;

      p {
        font-size: 18px;
        pointer-events: none;
      }
    }
  }
}