form {
    display: grid;
    grid-template-columns: repeat(3, 200px) 25px 200px;
    grid-template-rows: repeat(7, 30px);
    row-gap: 25px;
}

.heading {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.textarea {
    grid-column: 1 / -1;
    grid-row: 2 / 7;
}

.submitButton {
    grid-column: -2 / -1;
    grid-row: 7 / -1;

    background: none;
    outline: none;
    cursor: pointer;

    transition:
        color 0.1s ease-in,
        background-color 0.1s ease-in;
    font-size: 16px;
}

.submitButton:hover {
    background-color: var(--base-text-color);
    color: var(--white);
}

.errorMessage {
    grid-column: 1 / -3;
    grid-row: -2 / -1;

    text-align: left;

    hyphens: auto;
    word-wrap: break-word;

    height: 100%;
    width: 100%;
}
